/* 

.search-bar {
    width: 235px;
    height: 36px;
    position: absolute;
    margin: auto;
    top: 55px;
    left:0;
    right:0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.945);
    border-radius: 8px;
    box-shadow: 2px 2px 6px #959595;
    display: flex;
    align-items: center;
}

.search-icon {
    width: 45px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 26px;
    border-right: 1px solid rgb(187, 187, 187);
    cursor: pointer;
}

.bar-icon img {
    width: 25px;
    height: 25px;
    -webkit-filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.25));
} */